<div class='banner'>
  <% avatar_url = current_user.google_picture_url || current_user.facebook_picture_url %>
  <% if avatar_url %>
    <%= image_tag avatar_url, class: 'avatar_profil_picture' %>
  <% end %>
  <h1 class="text-center">Your cocktail list</h1>
</div>
<div class="text-center padded" id="cocktail-creation-home">
  <%= link_to "Create a cocktail", new_cocktail_path, class: 'btn btn-success cocktail-creation-button' %>
</div>


<div class="container" style="margin-top: 17px;">
  <div class="row">

    <% @cocktails.each do |cocktail| %>

    <div class="col-xs-12 col-sm-4 banner-xs-cocktails">
      <%=  link_to cocktail_path(cocktail), class: 'show-card-link' do %>
          <div class="card flex-cocktail-card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('<%= cocktail.photo? ? cl_image_path(cocktail.photo) : "https://unsplash.it/200/300" ; %>');" >

            <div class="cocktail-title">
              <h4 class="text-center"><%= cocktail.name %></h4>
            </div>

          </div>
      <% end %>
      </div>


    <% end %>

  </div>

  <div class='log_out'>
    <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
  </div>

</div>


