<div class="mobile-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @cocktail.photo.url(:cocktail_display) %>')">
  <h1><%= @cocktail.name %></h1>
</div>

<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2" style="margin-bottom:25px">



      <div class="other-header text-center">
        <h1><%= @cocktail.name %></h1>
      </div>

      <div class="flex-display-cocktail">

        <ul class="list-unstyled boxing-list-ingredients">
          <% @cocktail.doses.each do |dose| %>
            <li>

              <%= cl_image_tag(dose.photo_ingredient.path, width: 40, height: 40, crop: :fill, class: "avatar-ingredient") if dose.photo_ingredient? %>
              <%= link_to "<i class='fa fa-close '></i>".html_safe, dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class: 'text-danger' %>
              <%= link_to dose.ingredient.name, ingredient_path(dose.ingredient) %> : <%= dose.description.strip %>

            </li>
          <% end %>
        </ul>

        <div class="side-image-sm" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
         url('<%= cl_image_path @cocktail.photo.url(:cocktail_side_display) %>')">
        </div>

      </div>

      <div class="flex-arrow-down">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </div>

      <hr />

      <div class="formulaire">
        <p>Please enter an ingredient with its associate dose and description:</p>

        <% if @dose.errors.any? %>
          <ul>
            <% @dose.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <%= simple_form_for([@cocktail, @dose]) do |f| %>

          <div class="grid">
            <%= f.association :ingredient , collection: @ingredients %>
            <%= f.input :photo_ingredient, as: :attachinary, label: false %>
          </div>
          <%= f.input :description %>
          <div class="text-center"><%= f.button :submit, class: "btn btn-primary create-dose-button" %></div>

        <% end %>

      </div>

      <hr />

      <div class="footer">
        <%= link_to 'Back', cocktails_path %>
        <%= link_to 'DESTROY', cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure you want to discard this cocktail ?"} %>
      </div>
    </div>
  </div>

</div>







