<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <h1 class="text-center"><%= @cocktail.name %></h1>

      <div class="flex display-cocktail">
        <div>
          <ul class="list-unstyled">
            <% @cocktail.doses.each do |dose| %>
              <li><%= link_to "<i class='fa fa-close '></i>".html_safe, dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class: 'text-danger' %>   <%= link_to dose.ingredient.name, ingredient_path(dose.ingredient) %> : <%= dose.description %></li>
            <% end %>
          </ul>
        </div>

        <div>
          <%= cl_image_tag @cocktail.photo.url(:cocktail_display) %>
        </div>
      </div>

      <br>

      <p>Please enter an ingredient with its associate dose and description:</p>

      <% if @dose.errors.any? %>
        <ul>
          <% @dose.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= simple_form_for([@cocktail, @dose]) do |f| %>
        <%= f.association :ingredient , collection: @ingredients %>  <!-- association -->
        <%= f.input :description %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>

      <%= link_to 'Back', cocktails_path %>

    </div>
  </div>

</div>







